<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if title %}{{ title }}{% if title != "kspears.com" %} - kspears.com{% endif %}{% else %}kspears.com{% endif %}</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  {% include "header.njk" %}

  <div class="container">
    <main>
      {{ content | safe }}
    </main>

    {% include "footer.njk" %}
  </div>
</body>
</html>
