<footer>
  <span>
    <a href="https://www.linkedin.com/in/kevin-spears/">LinkedIn</a> ·
    <a href="https://github.com/kspears/">GitHub</a>
  </span>
  <span>&copy; 2021&ndash;{{ currentYear }} Kevin Spears</span>
</footer>
