<header>
  <div class="header-inner">
    <h1><a href="/">kspears.com</a></h1>
    <nav>
      <a href="/">Home</a>
      <a href="/about.html">Me</a>
      <a href="/posts.html">Posts</a>
    </nav>
  </div>
</header>
